body {
  background-color: black;
  transition: all 0.25s ease;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.box {
  height: 5px;
  width: 5px;
  background: blue;
  margin: 1%;
  border-radius: 50%;
}
